<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>Tárgyfelvevő</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="//bootswatch.com/journal/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <nav class="navbar navbar-default">
                  <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="/">Tárgyfelvevő</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        
                      <ul class="nav navbar-nav">
                        <li><a href="/schedule">Tárgyaim</a></li>
                        <li><a href="/schedule/new">Tárgyfelvétel</a></li>
                      </ul>
                      
                      <ul class="nav navbar-nav navbar-right">
                          {{#if loggedIn}}
                          
                          <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Üdv, {{user.name}}! <span class="caret"></span></a>
                              <ul class="dropdown-menu">
                                {{#if user.admin}}
                                <li class="dropdown-header">Admin funkciók</li>
                                <li><a href="/admin">Lista</a></li>
                                <li><a href="/admin/add">Felvétel</a></li>
                                <li role="separator" class="divider"></li>
                                {{/if}}
                                <li><a href="/auth/logout">Kilépés</a></li>
                              </ul>
                          </li>
                          
                          {{else}}
                          
                          <li><a href="/auth/login">Bejelentkezés</a></li>
                          <li><a href="/auth/signup">Regisztráció</a></li>
                          
                          {{/if}}
                      </ul>
                    </div><!-- /.navbar-collapse -->
                  </div><!-- /.container-fluid -->
                </nav>

                <div id="bodyContent">
                    {{#each messages.error as |error|}}
                     <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        {{error}}
                     </div>
                    {{/each}}
                    {{#each messages.info as |info|}}
                    <div class="alert alert-info">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        {{info}}
                     </div>
                    {{/each}}
                    {{#each messages.success as |success|}}
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        {{success}}
                     </div>
                    {{/each}}
                    
                    
                {{{body}}}
                </div>
                
                <footer>Készítette: Temesvári Róbert (YVYLSO)</footer>

            </div>
        </div>
    </div>
    
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>